# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Tests
coverage/
.vitest-cache/

# Backup written by scripts/inject-cli-adapter-deps.mjs (prepack hook)
# in case postpack didn't run; safe to delete.
*.publishbak

# Editor and OS
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local
*.tgz
